@import '../../styles/vars.scss';


.helpLink {
    display: flex;
    margin-top: 30px;

    a {
        margin-right: 15px;
    }
}


.loginRedir {
    color: $txt-color3;

    &:hover {
        color: $line-color;
    }
}

@media(max-width: 992px) {
    .helpLink {
        font-size: 14px;
    }
}