@import '../../styles/vars.scss';

.nav,
.navVisible {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $txt-color;
    font-size: 18px;
    font-weight: lighter;

    a{
        color: $txt-color;
        margin-right: 20px;

        &:hover {
            color: $txt-color2;
        }
    }
}


.burgerBtn {
    display: none;
}

@media (max-width: 992px) {
    .nav {
        transform: translateX(0px);
        transition: transform ease 0.6s, box-shadow ease 0.4s;
    }

    .navVisible {
        transform: translateX(-220px);
        transition: transform ease 0.6s, box-shadow ease 0.4s;
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
    }

    .nav,
    .navVisible {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: $line-color;
        height: 100vh;
        position: absolute;
        right: -220px;
        top: 90px;
        width: 220px;
        color: $txt-color;
        font-size: 18px;


        li {
            display: flex;
            align-items: center;
            height: 60px;
            border-bottom: -2px groove $border-color;

            &:hover {
                background: $txt-color;
                color: $side-color;
            }
        }

        a {
            padding: 15px;
            margin-right: 0px;
            min-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
                color: inherit;
            }
        }
    }

    .burgerBtn {
        display: block;
    }

}