@import '../../styles/vars.scss';

.notFoundPage {
    background: url('https://seneka13.github.io/ShareYSelf-project/img/NotFound.jpg') center /cover;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 50px;
}

.title {
    font-size: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 80px;
}

.text {
    font-size: 20px;
    text-align: center;
}