@import '../../styles/vars.scss';

.eventForm {
    text-align: center;
    padding: 30px 20px;
    background: $light-color;
    border-radius: 2px;
    max-width: auto;

    h1 {
        margin-bottom: 30px;
    }

    input {
        color: $txt-color4;
    }

    input::placeholder {
        color: $txt-color3;
    }

    .formErr {
        color: $error-color;
        min-height: 40px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}

.btn {
    width: 250px;
    height: 45px;
    background: $btn-color;
    border-radius: 10px;
    color: $txt-color;
    font-weight: lighter;
    font-size: 20px;
    transition: background-color ease 0.5s;
    &:hover {
        background: $btn-color2;
    }
    &:focus{
        background: $btn-color2;
    }
}