@import '../../styles/vars.scss';

.eventForm {
    text-align: center;
    padding: 30px 20px;
    background: $light-color;
    border-radius: 10px;

    h1 {
        margin-bottom: 30px;
        border-bottom: 1px solid $txt-color3;
    }

    input {
        color: $txt-color4;
    }

    input::placeholder {
        color: $txt-color3;
    }

    button {
        margin-top: 20px;
        width: 300px;
        font-size: 20px;
    }

    .formErr {
        color: $error-color;
        height: 30px;
        font-size: 15px;
        font-weight: lighter;
    } 
}
