@import '../../styles/vars.scss';


.btn {
    width: 200px;
    height: 45px;
    background: $btn-color;
    border-radius: 20px;
    color: $txt-color;
    font-weight: lighter;
    transition: background-color ease 0.5s;
    &:hover {
        background: $btn-hover-color;
        color: $txt-color;
    }
}