@import './vars.scss';

body,
h1,
h2,
h3,
p,
button,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea {
  background: none;
  border: none;
  color: inherit;
  font-family: 'Nunito', sans-serif;

  &:focus {
    outline: none;
  }
}

a:hover {
  text-decoration: none;
}