@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');


$btn-color2: #3f5a52;
$txt-color: #f9f9f9;
$line-color: #131212;
$side-color: #161616be;
$light-color: #f8f8f8be;
$txt-color2: #9de5bd;
$txt-color3: #464646;
$txt-color4: #1b1b1b;
$border-color: #807d77;
$btn-color: #2ca25f;
$error-color: rgb(228, 22, 19);