$btn-hover-color: #3f5a52;
$txt-color: #f9f9f9;
$line-color: #131212;
$side-color: #161616be;
$light-color: #f8f8f8be;
$txt-color2: #9de5bd;
$txt-color3: #464646;
$border-color: #807d77;
$btn-color: #2ca25f;
$error-color: rgb(228, 22, 19);