@import '../../styles/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.logo {
    color: $txt-color3;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Boogaloo', cursive;
}