@import '../../styles/vars.scss';


.label {
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.input {
    width: 250px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
    padding: 15px;
    color: $txt-color;
    font-weight: lighter;
    font-size: 20px;
}

input::placeholder {
    color: $txt-color;
}