@import '../../styles/vars.scss';


.login {
    font-size: inherit;
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.userName {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logOut {
    font-weight: lighter;
    &:hover {
        color: $txt-color2;
    }
}


@media (max-width: 992px) {
    .logOut {
        padding: 15px;
    }
}