@import '../../styles/vars.scss';


.userBg {
    background: fixed linear-gradient(70deg, rgba(131, 57, 57, 0) 15%, #20161663 85%),
        linear-gradient(220deg, rgba(17, 17, 17, 0) 20%, #2c2c255e 80%),
        url('https://seneka13.github.io/ShareYSelf-project/img/userBg.jpg') center / cover;
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 35px;
    text-align: center;

    h1 {
        color: $txt-color;
        font-size: 45px;
        font-weight: normal;
    }

    h3 {
        color: $txt-color3;
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 20px;
    }
}



.userArea {
    background: $side-color;
    padding: 50px;
}

.avatarArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatarImg {
        max-width: 210px;
        max-height: 210px;
        border-radius: 50%;
        box-sizing: border-box;
        object-fit: cover;
        border: 5px solid $btn-color2;

        img {
            width: 100%;
            min-height: 200px;
            max-height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }

    }

    .profIcon {
        color: $txt-color;
        width: 100%;
        object-fit: cover;
    }


    .avatarUpload {
        margin-top: 20px;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        color: $txt-color3;
        background: $txt-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color ease 0.5s;

        &:hover {
            cursor: pointer;
            background: $btn-color2;
            color: $txt-color;
        }
        &:focus {
            cursor: pointer;
            background: $btn-color2;
            color: $txt-color;
        }

        input {
            display: none;
        }
    }
}

.userInfo {
    text-align: justify;
    color: $txt-color;
    font-size: 25px;
    padding: 20px;


    .userBtns {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .userEditBtn {
            margin-top: 15px;
            width: 200px;
            height: 45px;
            background: $btn-color;
            border-radius: 10px;
            color: $txt-color;
            font-weight: lighter;
            font-size: 15px;
            transition: background-color ease 0.5s;

            &:hover {
                background: $btn-color2;
            }
            &:focus {
                background: $btn-color2;
            }
        }
    }

}

.formErr {
    color: $error-color;
    height: 30px;
    font-size: 15px;
} 