@import '../../styles/vars.scss';



.eventPageBg {
    background: linear-gradient(70deg, rgba(131, 57, 57, 0) 15%, #201616ad 85%),
        linear-gradient(220deg, rgba(17, 17, 17, 0) 20%, #2c2c25a8 80%), url('../../img/eBg.jpg') center /cover;
    min-height: 100vh;
    padding-top: 140px;
    text-align: center;

}


.eventInfo {
    background: linear-gradient(70deg, rgba(131, 57, 57, 0) 15%, #201616ad 85%),
        linear-gradient(220deg, rgba(17, 17, 17, 0) 20%, #2c2c25a8 80%), url('../../img/eBg.jpg') center /cover;
    min-height: 100vh;
    color: $txt-color;
    padding-top: 140px;

    .eventname {
        text-align: center;
        font-size: 40px;    
        margin-bottom: 30px;
    }

    .place {
        text-align: center;
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: bold;
    }

    .extraInfo {
        background-color: $light-color;
        padding: 30px;
        border-radius: 5px;
        color: $txt-color3;
    }

    .controlBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .delBtn {
        margin-top: 15px;
        background: $btn-color3;
        text-align: center;
        font-weight: lighter;
        padding: 6px;
        border-radius: 10px;
        width: 150px;
        transition: background-color ease 0.5s;
        font-size: 13px;
        color: $txt-color;
    
        &:hover {
            background: $btn-color2;
        }
    }

    .desc {
        background: $side-color;
        padding: 20px;
        border-radius: 3px;
    }
}

.eventCard {
    border: 1px solid $border-color;
    box-shadow: 0 1px 10px rgba(66, 65, 65, 0.856);
    border-radius: 7px;
    color: $txt-color3;
    font-size: 14px;
    text-align: center;
    padding: 30px 0px;
    background-color: $light-color;
    transition: transform ease 0.5s, box-shadow ease 0.4s;

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: 0 3px 10px rgba(114, 114, 114, 0.856);
    }

    img {
        max-width: 70%;
    }

    .eventName {
        font-weight: bold;
        font-size: 16px;
    }

    .eventAuthor {
        font-weight: bold;
        font-size: 16px;
    }

    .eventPast {
        color: $error-color;
    }

    .eventTimer {
        font-weight: bold;
    }
}

.getError {
    color: $error-color;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

