@import '../../styles/vars.scss';

.signupPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('https://seneka13.github.io/ShareYSelf-project/img/bg2.jpg') center / cover;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: $side-color;
    border-radius: 10px;

    h1 {
        color: $txt-color;
        margin-bottom: 30px;

    }
}

.btn {
    width: 200px;
    height: 45px;
    background: $btn-color;
    border-radius: 20px;
    color: $txt-color;
    font-weight: lighter;
    transition: background-color ease 0.5s;
    &:hover {
        background: $btn-color2;
        color: $txt-color;
    }
}



.signupText {
    color: $txt-color;
    font-size: 13px;
    margin: 18px 0px;
    text-align: center;
    font-weight: lighter;
}

.signupRedir {
    color: $txt-color;

    &:hover {
        color: $txt-color2;
    }
}