@import '../../styles/vars.scss';

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: $side-color;
    opacity: 0.7;
    color: $txt-color;
    position: fixed;
    width: 90%;
    top: 20px;
    left: 5%;
}

@media (max-width: 992px) {
    .header {
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 20px 20px;
    }
}