@import '../../styles/vars.scss';

html {
    scroll-behavior: smooth;
}

.homeBg {
    background: fixed linear-gradient(70deg, rgba(131, 57, 57, 0) 15%, #20161663 85%),
        linear-gradient(220deg, rgba(17, 17, 17, 0) 20%, #2c2c255e 80%),
        url('../../img/hBg2.jpg') center / cover;
    min-height: 100vh;
    

    .homeContent {
        padding-top: 140px;
        color: $txt-color;
        text-align: center;

        .title {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: calc((100vw - 480px)/(1280 - 480) * (120 - 80) + 80px);
            text-align: left;
            animation: title 1.8s ease;
            transform: translateX(0px);
        }

        .subtitle {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: calc((100vw - 480px)/(1280 - 480) * (60 - 30) + 30px);
            padding-left: 150px;
            animation: title 3s ease;
            margin-bottom: 60px;
        }
    }

}

.homeBg2 {
    min-height: 100vh;
    padding-top: 100px;
    background: fixed url('../../img/hBg1.jpg') center / cover;
}

.homeBg3 {
    min-height: 100%;
    padding-top: 50px;
    background: fixed linear-gradient(70deg, rgba(131, 57, 57, 0) 15%, #20161663 85%),
        linear-gradient(220deg, rgba(17, 17, 17, 0) 20%, #2c2c255e 80%),
        url('../../img/hBg3.jpg') center / cover;
}

.scroll {
    padding: 20px 40px;
    background-color: $light-color;
    color: $txt-color3;
    font-size: 27px;
    border-radius: 5px;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $txt-color;
        color: $txt-color3;
    }
}


.homeInfo {
    max-height: 400px;
    background: $light-color;
    padding: 30px 50px;
    color: $txt-color4;

    h3 {
        font-weight: normal;
        font-size: 35px;
        margin-bottom: 20px;
        ;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    .homeDesc {
        margin-bottom: 15px;
    }
}

.homeImg {
    max-height: 400px;
    background: $side-color;
    padding: 30px;

    img {
        width: 100%;
        height: 100%;
    }
}

@keyframes title {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}